
  <div class="page-header section-dark" style="background-image: url('assets/img/lovely.png')">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <!-- <div class="angular-logo">
                      <img src="assets/img/angular2-logo.png" alt="">
                  </div> -->
                  <small>THE LIQUID LOVE EFFECT</small>
                  <h4 class="presentation-title">Because he hath set his love upon me, therefore will I deliver him:
                    I will set him on high, because he hath known my name. - Psalm 91:14</h4>
                  <div class="fog-low">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
                  <div class="fog-low right">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
                  <br>
                  <br>
                  <p class="but text-center" ><a href="javascript:void(0)" (click)="scrollMe()" class="header-but">EXPERIENCE THE FATHER'S LOVE</a></p>
              </div>

              
          </div>
      </div>
      <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

  </div>
 
  <div class="divs" id="welcome" style="padding: 5em 0 10em 0; background: #416FAE; color: #fff !important;">
    <h3 class="text-center mb-2">WELCOME TO LAPIS LAZULI MINISTRIES</h3>
    <div class="container">
        <div class="text-center">
            <br>
            <p>Lapis Lazuli Ministries exists to awaken the body of 
                Christ to the extravagant love of God the Father. Lapis Lazuli Ministries aims to achieve our mission by coming
                alongside bodies of believers and  encouraging training through
                conferences, seminars and out-reaches to express the supernatural 
                life of Jesus Christ as modelled by Him.</p>
        </div>
    </div>
</div>
<div class="">
  <div class="container-fluid">
    <div class="row justify-content-center">
       <div class="col-md-3 mini" id="mini1">
         <h3>Lapis Lazuli Ministries Radio</h3>
         <br>
         <br>
         <p class="but mg"><a target="_blank" href="https://lapislmradio.org/">LISTEN NOW</a></p>
       </div>
       <div class="col-md-3 mini" id="mini2">
         <div class="layer"></div>
         
          <h3>Lapis Lazuli Healing and Prophetic Ministries</h3>

          <p class="but mg"><a href="https://www.youtube.com/channel/UCxISNmDZQ2LeCz-ZjkAP_2A" target="https://lapislmradio.org/">LEARN MORE</a></p>
         
       </div>
       <div class="col-md-3 mini" id="mini3">
         <h3>Lapis Lazuli  Ministries Resources</h3>
         <br>
         <br>
         <p class="but mg"><a href="https://www.youtube.com/channel/UCxISNmDZQ2LeCz-ZjkAP_2A" target="_blank">EXPLORE MORE</a></p>
       </div>
       <div class="col-md-3 mini" id="mini4">
         <h3>Conferences and Events</h3>
         <br>
         <br>
         <p class="but mg"><a href="https://lapislazuliministries.org/events/">LEARN MORE</a></p>
       </div>
    </div>
  </div>
</div>
  <div class="divs bg-grey">
      <div class="container">
          <div class="row">
            <div class="col-md-12">

              <h3 class="text-underline text-left">A VISION, A MISSION, A MINISTRY</h3>
              <br>
              <p>
                Lapis Lazuli Ministries is about restoring the hearts back to the extravagant love of the Father. It's about raising up transfromed generations by repairing faulty foundation, it seeks to unite churches and ministeries by breaking down walls; and it celebrates all that unites thus impacting us.
                Lapis Lazuli Ministries is a vessel that seeks to carry foundational truth out to the four corners of the world.
              </p>
              <!-- <p>Lapis Lazuli ministry is a vessel that seeks to carry these foundational truths 
                out into the four corners of the world. It restores lives by reconnecting hearts
                back to the extravagant love of The Father,raising up generations by repairing 
                faulty foundations, uniting churches and ministeries, by breaking down walls to
                celebrating all that unite, and in this way,
                impact the spiritual state of Nations.</p> -->
                <p class="but"><a routerLink="/about" class="" target="_blank">More about our mission</a></p>

              

            </div>

          </div>
      </div>
  </div> <!-- end of more about us -->

  <div class="divs" style="display: none;">
   <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card" id="card1" style="width: 15rem; height: 15rem;">
          <div class="layer">
          </div>
      <div class="card-body">
          <i class="fa fa-heart"></i>
        <h5 class="card-titles">RESPOND TO GOD'S LOVE</h5>
       
        <p class="card-text-hide">Responding to God’s extravagant Love by loving God with all my heart, soul, strength and mind.</p>
      </div>
    </div>
       </div>
       <div class="col-md-3">
        <div class="card" id="card2" style="width: 15rem; height: 15rem;">
          <div class="layer">
          </div>
      <div class="card-body">
          <i class="fa fa-book"></i>
        <h5 class="card-titles">EMPOWERED BY THE HOLY SPIRIT</h5>
       
        <p class="card-text-hide">Responding to God’s extravagant Love by loving God with all my heart, soul, strength and mind.</p>
      </div>
    </div>
       </div>
       <div class="col-md-3">
        <div class="card" id="card3" style="width: 15rem; height: 15rem;">
          <div class="layer">
          </div>
      <div class="card-body">
          <i class="fa fa-heart"></i>
        <h5 class="card-titles">PREPARING THE BRIDE</h5>
       
        <p class="card-text-hide">Responding to God’s extravagant Love by loving God with all my heart, soul, strength and mind.</p>
      </div>
    </div>
       </div>
       <div class="col-md-3">
        <div class="card" id="card4" style="width: 15rem; height: 15rem;">
          <div class="layer">
          </div>
      <div class="card-body">
          <i class="fa fa-book"></i>
        <h5 class="card-titles">SHARING JESUS</h5>
       
        <p class="card-text-hide">Responding to God’s extravagant Love by loving God with all my heart, soul, strength and mind.</p>
      </div>
    </div>
       </div>
    </div>
   </div>
  </div>

  <div class="divs">
    <h3 class="text-center">CONFERENCES & EVENTS</h3>
    <p class="text-center">Catch up on our latest events and conferences</p><br>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div  class="col-md-3" *ngFor="let item of events">
            <div  class="card" data-background-color="red">
                <!-- <div class="card-header"> -->
                    <img  alt="..." class=" card-img-top img-raised"   src={{item?.banner}}>
                <!-- </div> -->
               <div  class="card-body">
                  <h6  class="category-social"><i  class="fa fa-fire"></i> {{item?.title}} </h6>
                  <p  class="card-description"> {{item?.description | slice:0:20}} </p>
                  <div  class="card-footer">
                     <div  class="author">
                        <span style="">Event Date:</span>
                        <span >{{item?.event_date | date}}</span>
                    </div>
                    <!-- class="stats stats-right" -->
                     <span (click)="attend()" class="btn-outline-danger btn-sm" style="cursor: pointer;">
                         Attend </span>
                         <span  class="btn-outline-danger btn-sm" style="cursor: pointer;">
                            View Detail
                        </span>
                  </div>
               </div>
            </div>
         </div>
       
          </div>
      </div>
  </div>
  <div class="divs bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>LAPIS LM RADIO</h5>
                <h3>Uninterrupted worship, teaching, 
                  prayer and so much more! 🎙️</h3>
                  <p>We earnestly look forward to the great and mighty 
                      things the Lord will do through the Lapis LM Radio vision
                      into which He has called us 🙏
                      God Bless You</p>
            </div>
            <div class="col-md-6 embed-responsive embed-responsive-16by9">
                <img src="" alt="">
                <iframe class="embed-responsive-item" height="400px" width="650px" scrolling="no" frameborder="0" src="https://llmradio.com/embed/weekly-program"></iframe>
                
            </div>
            <div class="col-md-3 embed-responsive embed-responsive-16by9">
                <iframe frameborder="0" width="280" height="216" src="https://llmradio.com/embed/player?stream=auto&amp;title=Now Playing"></iframe>
            </div>
    </div>
      </div>
  </div>
  
  <div class="divs" style="background-color: #222222; padding: 5em 0 10em 0">
    <div class="container text-center">
      <h3 class="mb-2" style="color: #fff">TEACHINGS</h3>
      <div class="row">
        <div class="col-md-4 embed-responsive embed-responsive-16by9">
         <div> <iframe width="560" height="315" src="https://www.youtube.com/embed/GDrtT_HZ6YE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        <div class="col-md-4 embed-responsive embed-responsive-16by9">
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/T8Rw-P8aA7k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        <div class="col-md-4 embed-responsive embed-responsive-16by9">
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kbMwTOOiTp0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        
      </div>
  
      <br>
      <p class="but text-center"><a href="https://www.youtube.com/watch?v=fgG1rpL-5Yg&list=PLkhST-WOEF3e8tjH0CD3gcuRNbj0_bSQJ" target="_blank">Watch More Teachings</a></p>
    </div>
  </div>
  <div class="divs bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-6 embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSc4EUGBqXrUNM8CzBBq9Zh4GaaLFJ6yMlk1KZL9Ei2wqlaT3A/viewform?embedded=true" width="640" height="1700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>


        </div>
        <div class="col-md-6 embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLScLMaqyhVOkgn7qSjn7OYf42TmRQwhxNiYfEjDNI0-P72U4hg/viewform?embedded=true" width="640" height="1700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="divs bg-grey" id="app">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h3>LAPIS LM MOBILE APP</h3>
                  <p>Our app connects you to a variety of resources, including sermons, music, articles,
                    event info, and more.</p>
                <img src="./assets/img/app-store.png" alt="">
              </div>
              <div class="col-md-4">
                <!-- <img src="./assets/img/app.png" height="400px" alt=""> -->
              </div>
              <div class="col-md-4">
                <img src="./assets/img/app.png" height="400px" alt="">
              </div>
          </div>
      </div>
  </div>

