<main class="">
    <div class="container-fluid" style="margin-top: 100px;">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>10 seconds between slides...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
          </ngb-carousel>
          
      </div>


  <section>
    <div class="container">
        <div class="text-center">
            <h3 class="mb-2">WELCOME TO LAPIS LAZULI MINISTRIES</h3>
            <p>Lapis Lazuli Ministries exists to awaken the body of 
                Christ to the extravagant love of God the Father. Lapis Lazuli Ministries aims to achieve our mission by coming
                alongside bodies of believers and  encouraging training through
                conferences, seminars and out-reaches to express the supernatural 
                life of Jesus Christ as modelled by Him.</p>
        </div>
    </div>
  </section>


  <section>
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <h3>A VISION, A MISSION, A MINISTRY</h3>
                  <p>Lapis Lazuli ministry is a vessel that seeks to carry these foundational truths 
                    out into the four corners of the world. It restores lives by reconnecting hearts
                    back to the extravagant love of The Father,raising up generations by repairing 
                    faulty foundations, uniting churches and ministeries, by breaking down walls to
                    celebrating all that unite, and in this way,
                    impact the spiritual state of Nations.</p>
                    <p><a href="">MORE ABOUT OUR MISSION</a></p>
              </div>

          </div>
      </div>
  </section>

  <section>
      <div class="text-center">
          <h3>CONFERENCES & EVENTS</h3>
          <p>Catch up on our latest events and conferences</p>
          <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
          </div>
      </div>
  </section>
</main>