<div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline">
      <a class="nav-link" href="#/admin/dashboard">Dashboard</a>
      <a class="nav-link" href="#">
        <span class="badge badge-pill bg-light align-text-bottom"></span>
      </a>
      <a class="nav-link" href="#/admin/prayer">Prayers</a>
      <a class="nav-link" href="#/admin/testimony">Testimonies</a>
      <a class="nav-link" href="#/admin/event">Events</a>
      <a class="nav-link" href="#/admin/user">Users</a>
      <a class="nav-link" href="#/admin/teaching">Teaching</a>
      <a class="nav-link" href="#/admin/message">Messages</a>
      <a class="nav-link" href="#/admin/resources">Resources</a>
    </nav>
</div>
<br>