<div class="container-fluid" id="about-us">
    <h2 class="text-center" style="color: #fff;">Contact Us</h2>
    <h5 class="text-center" style="color: #fff;">We’d love to help get you connected to one of our locations, a small group, or a volunteer opportunity. <br> Feel free to fill out the contact form to receive a reply, or contact us via phone.</h5>


    
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 shadow p-5 mb-5 bg-white rounded">
            <div>
                <form>
                    <div class="row mb-4">
                      <div class="col">
                          <label for="">First name</label>
                        <input type="text" class="form-control" placeholder="First name">
                      </div>
                      <div class="col">
                          <label for="">Last name</label>
                        <input type="text" class="form-control" placeholder="Last name">
                      </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label for="">Email</label>
                          <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col">
                            <label for="">Phone</label>
                          <input type="text" class="form-control" placeholder="Phone">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                            <label for="">Message:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                      </div>
                  </form>
            </div>
        </div>
        <div class="col-md-6" id="">
           
        </div>
    </div>
</div>
</div>
