<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="{{userInfo?.photo}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{userInfo?.name}}</h4>
                    <h6 class="description">{{userInfo?.username}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="flex-container">
                    <div class="help-box">
                        <a routerLink="">
                            <p>Submit Testimony</p>
                        </a>
                    </div>
                    <div class="help-box">
                        <a >
                            <p>Submit Prayer Point</p>
                        </a>
                    </div>
                    <div class="help-box">
                        <a >
                            <p></p>
                        </a>
                    </div>
                  </div>
                  <div class="flex-container">
                    <!-- <div class="help-box">
                        <a  routerLink="/customer/settings">
                            <p>Change Password</p>
                        </a>
                    </div>
                    <div class="help-box">
                        <a routerLink="/customer/update-detail"> 
                            <p>Edit Account Details</p>
                        </a>
                    </div> -->
                    <div class="help-box">
                        <a routerLink="">
                            <p>Logout</p>
                            <p style="font-size: 14px !important; font-weight: 100; color: darkgray;">    
                            </p>
                        </a>
                    </div>
                
                  </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br/>
        </div>
    </div>
</div>
