<div class="container-fluid" id="about-us">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8" id="">
            <div class="" id="about-preview">
                <h5>About Lapis Lazuli Ministries</h5>
                <h2 style="color: #3E72B8;">WHAT WE ARE ABOUT </h2>
                <p>Lapis is the Latin word for Stone, and Lazuli is from the Arabic word Azula. This precious blue gem stone with golden inclusions of Pyrites, is said to have come out of Middle East history, and is said to be found in few deposits around the world. The ancients associated this stone with friendship and truth which are such a foundational and integral part of Our Lord.</p>
                <p>This foundational stone is referred to in a number of places in the Bible. In some texts it is referred to as Sapphires. It is first mentioned in Exodus 24v9-10 where it is described as the pavement under Our Lords Feet and it is also referred to in Exodus 28v15-21, as the stone on which God wrote the Ten Commandments. We also find reference to it in Ezekiel 1v25-28 where it is referred to as the foundation of the Throne in heaven. Song of Solomon 5v14 describes His body like polished Ivory decorated with Lapis Lazuli. The foundation of wisdom as described in Job 28v1-11 also makes reference to this. The last book in the Bible, Revelation refers to the stone in Revelation 21v19. It is referred to here as being used in the foundation of His dwelling – The Holy City.</p>
                <p>Lapis Lazuli ministry is a vessel that seeks to carry these foundational truths out into the four corners of the world. It restores lives by reconnecting hearts back to the extravagant love of The Father, raising up generations by repairing faulty foundations, uniting churches and ministries, by breaking down walls and celebrating all that unite, and in this way, impact the spiritual state of Nations.</p>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid mb-4" id="liner">

</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <span class="icon">
                <img class="rounded mx-auto d-block iconz shadow bg-white rounded" src="assets/img/vision.svg" alt="">
            </span>
            <h2 class="text-center icons-header">VISION</h2>
            <ul>
                <li>Hearts reconciled to God the Father.</li>
                <li>Generations built on the foundation of God’s Truth.</li>
                <li>A united Body of Jesus Christ. </li>
                <li>Transformed nations, working from God’s Kingdom principles.                </li>
            </ul>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <span class="icon">
                <img class="rounded mx-auto d-block iconz shadow bg-white rounded" src="assets/img/goal.svg" alt="">
            </span>
            <h2 class="text-center icons-header">AIMS</h2>
            <p>
                Lapis Lazuli Ministries aims to achieve our mission by coming alongside bodies of believers and encouraging training through conferences, seminars and out-reaches to express the supernatural life of Jesus Christ as modelled by Him.The ministry networks with leaders in the Church and marketplace, encouraging friendships, sharing resources, and in this way fostering and encouraging unity across the body of Jesus Christ.We are committed to helping “the Bride” make herself ready for the King of Kings.
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <span class="icon">
                <img class="rounded mx-auto d-block iconz shadow bg-white rounded" src="assets/img/strategy.svg" alt="">
            </span>
            <h2 class="text-center icons-header">MISSION</h2>
            <ul>
                <li>Reconciling hearts to God the Father through inner healing and restoring lives. </li>
                <li>Raising up the foundations for current and future generations by teaching foundational values from the Word of God. </li>
                <li>Fostering unity across the body of Christ,  by celebrating all that unites us and creating inter-denominational networks. </li>
                <li>Impacting  nations, by transforming the spiritual state of Nigeria and the wider world. </li>
            </ul>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>