<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
  <div class="container-fluid">
      <div class="navbar-translate">
          <a class="navbar-brand"><img src="./assets/img/lapis-lazuli.png" width="120" ></a>
          <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" >
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" routerLink="/" >
                  HOME
                </a>
            </li>
            <li class="nav-item" >
                <!-- <a class="nav-link" rel="tooltip" title="" data-placement="bottom" routerLink="/about" >
                </a> -->
                <div ngbDropdown class="dropdown" placement="bottom-left">
                    <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>About Us</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                        <a class="dropdown-item" href="/#/about">About us</a>
                        <a class="dropdown-item" href="/#/about">Mission, Vision and Aim</a>
                        <a class="dropdown-item" href="/#/founders">Founders</a>  
                    </div>
                </div>
            </li>
            <li class="nav-item" >
                <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" routerLink="/teachings" >
                   Teachings
                </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" routerLink="/events" >
                   EVENTS
                </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://lapislmradio.org/" >
                    LAPIS LM RADIO
                </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" routerLink="/contact" >
                  CONTACT US
              </a>
          </li>
            <li class="nav-item" *ngIf="!isHome()">
                <a routerLink="/donate"  class="btn btn-round" id="donate">Donate</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
              <a routerLink="/signup"  class="btn btn-primary btn-round">Register</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
              <a routerLink="/login"  class="btn btn-primary btn-round">Login</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a (click)="logout()"  class="btn btn-primary btn-round">Logout</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
