<div class="container-fluid" id="trustee">
    <h1>Our Trustees</h1>
</div>

<div class="container">
    <h3>Meet Our Trustees</h3>
    <p>Find out more about our Board of Trustees</p>

    <div class="row mt-5" style="margin-top: 5em;">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/andy.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Rev. Andy Keighley </h3>
                  <p class="card-text">Rev. Andy Keighley has a passion for healing and impartation. He desires to see people walking in all that Jesus paid for on the cross. He is the Senior Pastor of Holy Trinity Swiss Cottage, London.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>