li{
    color: #ffffff;
    list-style: none;
    margin-left: 0;
}

ul{
    margin-left: 0 !important;
    padding-left: 0 !important;
}
a{
    color: #ffffff;
}

h5{
    color: #ffffff;
}

.btn{
    margin-top: 10px;
}